[submodule "features"]
	path = features
	url = git://github.com/lirios/qmake-features.git
	branch = master
[submodule "qbs/shared"]
	path = qbs/shared
	url = git://github.com/lirios/qbs-shared.git
	branch = master
[submodule "fluid"]
	path = fluid
	url = git://github.com/lirios/fluid.git
	branch = develop
