Pier Luigi Fiorini <pierluigi.fiorini@gmail.com> <plfiorini@users.noreply.github.com>
Ivan Fateev <johnny.j.poison@gmail.com> JohnPoison <johnny.j.poison@gmail.com>
Ivan Fateev <johnny.j.poison@gmail.com> John Poison (Ivan Fateev) <truefiresnake@gmail.com>
